body {
 
  font-family: sans-serif;
  font-size: 10px;
}

h1 {
  color: #e2e2f1;
  text-align: center;
  position: relative;
  top: 60px;
  font-size: 3em;
}

form {
  background: #fff;
  background-image: url('http://i.imgur.com/v6xypCo.png');
  background-repeat: repeat-x;
  max-width: 400px;
  margin: 100px auto 0;
  padding: 4em 4em 2em;
  box-shadow: 0 0 1em #555;
}

p {
  margin: 0 0 3em 0;
  position: relative;
}

label {
  display: block;
  font-size: 1.6em;
  color: #333;
  margin: 0 0 .5em;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #e2e2f1;
  background: #efeff7;
  padding: .8em .5em;
  font-size: 1.6em;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff;
}

span {
  display: block;
  width: 160px;
  background: #47478d;
  color: #fff;
  padding: 7px 10px;
  text-align: center;
  font-size: 1.3em;
  position: absolute;
  left: 105%;
  top: 4px;
}

span:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  border: solid transparent;
  border-right-color: #47478d;
  pointer-events: none;
  border-width: 8px;
  margin-top: -8px;
}

input[type="submit"] {
  display: block;
  border: none;
  outline: none;
  margin: 2em 0 0;
  padding: 0.7em 0;
  color: #fff;
  background: #6d6db6;
  box-shadow: 0 5px 0 0 #47478d;
  font-size: 1.8em;
  line-height: 1.6em;
  cursor: pointer;
}
